.sidebar {
  width: inherit;
  background: rgba(17, 24, 39, 1);
  background: $fondo-login;
  a {
    display: block;
    text-decoration: none;
    padding: 0 1rem 1rem 1rem;
  }
  .img-home {
    padding: 1rem 0;
    img {
      width: 30%;
    }
  }
  .btn-sideBar {
    width: 100%;
    background: unset;
    text-transform: uppercase;
    border: none;
    height: 2.25rem;
    color: $white;
    &:hover {
      background-color: #323539;
    }
    .icon {
      padding-right: 0.25rem;
    }
  }
}
